.heroSplash {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.heroWelcome {
  // margin-top: 40rem;
  width:60vw;
  height:10vh;
  h2 {
    font-family: "Badoom";
    font-size: 8rem;
    letter-spacing: .5rem;
  }
}

.heroSplash1 {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.heroWelcome1 {
  // margin-top: 40rem;
  width:100vw;
  height:10vh;
  margin-left: 10px;
  h1 {
    font-family: "Badoom";
    font-size: 9rem;
    letter-spacing: .5rem;
  }
}

.heroSplash2 {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.heroWelcome2 {
  // margin-top: 40rem;
  width:100vw;
  height:10vh;
  margin-left: 10px;
  h2 {
    font-family: "Badoom";
    font-size: 5rem;
    letter-spacing: .5rem;
  }
}

.heroSplash3 {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.heroWelcome3 {
  // margin-top: 40rem;
  width:100vw;
  height:10vh;
  margin-left: 10px;
  h2 {
    font-family: "Badoom";
    font-size: 5rem;
    letter-spacing: .5rem;
  }
}

.stansBox {
  position:fixed;
  bottom: 0;
  left:0;
  z-index: 200;
  img {
    width:40%;
  }
}
.textBox {
  position:fixed;
  bottom: 80px;
  left:200px;
  z-index: 200;
  img {
    width:40px;
  }
}
.abcWrapper
{
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;

}
.abcList
{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.cardContainer

{
  display: flex;
  justify-content: center;
  padding-bottom: 30px

}
