.abcWrapper
{
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;

}
.abcList
{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.cardContainer

{
  display: flex;
  justify-content: center;

}
