@font-face {
  font-family: 'Avengers';
  src: url('./fonts/avengeance_heroic_avenger_at-webfont.woff');
  src: url('./fonts/avengeance_heroic_avenger_at-webfont.woff2');
}

@font-face{
  font-family: 'Badoom';
  src: url('./fonts/badabb__-webfont.woff');
  src: url('./fonts/badabb__-webfont.woff2');
}

@import url('https://fonts.googleapis.com/css?family=Bangers|Rubik+Mono+One')

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
