@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');

.letterFront {
  display:flex;
  justify-content: center;
  flex-direction: column;

}

.letterBanner {
  z-index: 101;
  position: absolute;
  color: white;
  font-size: 30px;
  font-family: 'Rubik Mono One';
  font-weight: bold;
  letter-spacing: .1rem;
  left: 7.5rem;
  top: 0;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}

.characterBanner {
  z-index: 101;
  position: absolute;
  color: Black;
  letter-spacing: 2px;
  font-family: 'Avengers';
  font-size: 40px;
  font-weight: bold;
  left: 8rem;
  top: 1rem;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: white;
}

.leftLogo {
  z-index:10;
  width: 4.5rem;
  height:8rem;
  background-color: #990000;
  position: absolute;
  top: 1.8rem;
  left: 1.89rem;
  border-style: solid;
  border-color: white;
  h2 {
    font-size: 60px;
    font-family: "Badoom";
    margin:0;
  }
  p{
    font-size:15px;
    font-family: 'Rubik Mono One';
    margin:5px;
  }
}

.characterFrontImage {
  height: 90vh;
  width:36vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  img {
    object-fit: cover;
    object-position: center;
    width:100%;
    height:100%;
  }
}
.letterBack{
  display:flex;
  justify-content: center;
  flex-direction: row;

}
.characterBackImage {
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  cursor: pointer;
  img {
    object-fit: contain;
    object-position: center;
    height:110%;
  }
}

.characterDescriptionBox {
  height: 5rem;
}
.characterSelector {
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content:space-between;
  margin-top: 50px;
}
