h3{
  font-size:12px;
  font-family: 'Avengers'
}

.heroPickerRow {
  // display: block;
}
.heroImageContainer {
  height: 50px;
  width:50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    object-fit: cover;
    object-position: center;
    width:100%;
    height:100%;
  }
}
